.hoverIcon {
    cursor: default;
    width: 20px;
    padding: 16px 5px;
    text-align: center;
}

.selected {
    background-color: #48f;
}

.hoverIcon:not(.selected):hover {
    background-color: #222;
}

