.canvas {
    flex: 1;
    color: #111;
    background-color: #e5e5f7;
    z-index: -3;
}

.grid {
    background-image:  linear-gradient(#d5d5e7 1px, transparent 1px), linear-gradient(to right, #d5d5e7 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

.rect {
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

.btn {
    background-color: #377; 
    height: 20px;
}

.txt {
    background-color: #777; 
    height: 10px;
}

.input {
    background-color: #bbb; 
    height: 40px;
}
