
.topBar {
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    height: var(--topBarHeight);
}

input[type="radio"] {
    display: none;
}

label {
    margin: 5px;
}