
:root {
    --rect-txt: #777;
    --rect-btn: #377;
    --rect-other: #bbb;
}
  
.rect {
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    background-color: var(--rect-txt); 
    width: var(--grid-size);
    height: var(--grid-size);
}

.btn {
    background-color: var(--rect-btn); 
    height: 20px;
}

.txt {
    background-color: var(--rect-txt); 
    height: 10px;
}

.other {
    background-color: var(--rect-other); 
    height: 40px;
}
