
:root {
    --rect-txt: #bbb;
    --rect-other: #999;
}
  
.rect {
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    width: var(--grid-size);
    height: var(--grid-size);
}

.txt {
    height: 20px;
    z-index: 2;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    font-weight: 700;
}

.other {
    background-color: var(--rect-other); 
    height: 40px;
    z-index: 1;
}

.input {
    border-style: solid;
    border-width: 2px;
    border-color: var(--rect-txt);
    height: 40px;
    z-index: 1;
}
